[submodule "hot/third-party/tbb"]
	path = hot/third-party/tbb
	url = https://github.com/01org/tbb.git
	branch = tbb_2018
[submodule "hot/third-party/bilke-cmake-modules"]
	path = hot/third-party/bilke-cmake-modules
	url = https://github.com/bilke/cmake-modules.git
[submodule "hot/third-party/hana"]
	path = hot/third-party/hana
	url = https://github.com/boostorg/hana.git
