sudo: required
language: cpp
dist: bionic

install:
- sudo apt-get install build-essential
- sudo apt-get install cmake
- sudo apt-get install libgtest.dev
- cd /usr/src/gtest
- sudo cmake CMakeLists.txt
- sudo make
- sudo cp *.a /usr/lib
- sudo apt-get install lcov
- sudo apt-get install ruby
- sudo gem install coveralls-lcov
- sudo apt-get install libjemalloc-dev
- sudo apt-get install libtbb-dev

script:
- cd $TRAVIS_BUILD_DIR
# Install boost 1.66.0 for hot
- wget --directory-prefix=hot/third-party/ https://dl.bintray.com/boostorg/release/1.66.0/source/boost_1_66_0.tar.gz
- tar -xvf hot/third-party/boost_1_66_0.tar.gz -C hot/third-party/ > out
- mkdir hot/third-party/boost_install
- cd hot/third-party/boost_1_66_0
- ./bootstrap.sh --prefix=./boost_install > out
- ./b2 install > out
- cd $TRAVIS_BUILD_DIR
## Add boost to include path
- export LD_LIBRARY_PATH=${TRAVIS_BUILD_DIR}/hot/third-party/boost_install/lib:$LD_LIBRARY_PATH
- git submodule update --init --recursive

- mkdir build
- cd build
- cmake -DCMAKE_BUILD_TYPE=Debug -DCOVERALLS=ON ..
- make -j
- make coverage

after_success:
- lcov --remove coverage.info '*/ART/*' '*/SuRF/*' '*/test/*' '/usr/*' '/lib/*' --output-file coverage.info
- lcov --list coverage.info
- coveralls-lcov --repo-token=${COVERALLS_TOKEN} coverage.info
